/*HEADER PICTURE set*/
.responsive {
  width: 100%;
  height: auto;
  }

/* Container holding the image and the text */
.picture-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 36px;
 }


/*SIDE NAVIGATION START*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  color:white;
  text-align:center;
  display:block;
}

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display:block;
    transition: 0,3s;
    background-color: gray;
  }

    .sidenav a:hover {
      color: #f1f1f1;
    }

  .sidenav .closebtn {
    position: center;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 200px;
  }

#main {
  transition: margin-left .5s;
  padding: 60px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

    .sidenav a {
      font-size: 18px;
    }
}
/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
/* Dropdown button */
.dropdown .dropbtn {
  display:block;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-container {
  display: none;
  position: relative;
  background-color: none;
  color: white;
  font-size:15px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left: 50px;
}

  /* On mouse-over */
  .sidenav a:hover, .dropdown:hover .dropbtn {
  color: gray;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: black;
}

  
/* Add an active class to the active dropdown button */
.active {
  background-color: #480606;
  color: white;
}


/*Optional: Style the caret down icon 
.fa-caret-down {
  float: left;
  padding-right: 8px;
  font-size: 5px;
}




/*TOP BUTTON START*/
#myTopBtn {
  display: normal; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: solid; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #480606; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

  #myTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }



/*TOP NAVIGATION START*/
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: auto;
  background-color: #000000;
  margin-top: -5px;
  
}

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top:5px;
    margin-bottom:0px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #480606;
  color: white;
}

@media screen and (max-height: 200px) {
  .topnav {
    padding-top: 15px;
    float:none;
    display:block;
  }

    .topnav a {
      font-size: 18px;
      float:none;
      display:block;
    }
}



/*SEARCH BAR START*/
/* Style the search box inside the navigation bar */
input[type=text] {
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
  padding: 6px;
  margin-top: 17px;
  margin-right:10px;
  background-image:url(/assets/Searchicon.png);
  background-size:18px;
  background-position:left;
  background-repeat:no-repeat;
  border:none;
}

  /* When the input field gets focus, change its width  */
  input[type=text]:focus {
    width: 250px;
  }
  


    /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
    @media screen and (max-width: 600px) {
      .topnav a, .topnav input[type=text] {
        float: left;
        display: block;
        text-align: left;
        width: 200px;
        margin: 0;
        padding: 10px;
      }

      .topnav input[type=text] {
        border: 1px solid #ccc;
      }
    }
  

