<div class="picture-container">
  <img src="/assets/header.jpg" alt="Handball" width="800" height="350" class="responsive">
  <div class="top-right"><app-sign-up></app-sign-up><app-log-in></app-log-in></div>
</div>

  <div class="topnav">
    <a><span (click)="openNav()">&#9776; Menu</span></a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <div class="search-container">
           <form action="/action_page.php">
              <input type="text" placeholder=" Search.." name="search" style="padding-left:20px;">
           </form>
        </div>
  </div>

  <div id="mySidenav" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <h2>Welcome to Menu</h2>
    <a routerLink="/players">Players</a>
    <div class="dropdown">
      <button class="dropbtn">
        League
        <!--<i class="fa fa-caret-down"></i>-->
      </button>
      <div class="dropdown-container">
        <a routerLink="/league/croatian-league">Croatian league</a>
        <a routerLink="/league/german-league">German league</a>
        <a routerLink="/league/french-league">French league</a>
        <a routerLink="/league/spanish-league">Spanish league</a>
      </div>
    </div>
    <a routerLink="/national-teams">National Teams</a>
    <a routerLink="/best-of-the-best">Best of the Best</a>
  </div>


  <button (click)="topFunction()" id="myTopBtn" title="Go to top">Top</button>


