<div class="container">

  <h2>List of Players:</h2>

  <input type="text" id="myInput" (keyup)="filterFunction()" placeholder="Search for names..">
  <table border="1" class="BlueTable" id="tableOfAllPlayers">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Date of birth</th>
        <th>Country</th>
        <th>Club</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of players">
        <td>{{item.Name}}</td>
        <td>{{item.LastName}}</td>
        <td>{{item.Year}}</td>
        <td>{{item.Country}}</td>
        <td>{{item.ClubList[0]}}</td>
        <td>{{item.ClubPosition[0]}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="15">
          <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
