<!--<meta name="viewport" content="width=devi<div class="content">ce-width, initial-scale=1">-->

<div class="content">
  <app-navbar></app-navbar>

  <div id="main">
    <router-outlet></router-outlet>
  </div>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <footer>
    <h3>Contact informations:</h3>
    <ul>
      <li>E-mail adress: lukakopic14@gmail.com</li>
      <li>Telephone: 111-0000-000</li>
    </ul>
    <div class="middle">
      <a class="btn" href="https://wwww.facebook.com/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn" href="https://wwww.twitter.com/">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn" href="https://wwww.instagram.com/">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn"  href="https://www.google.com/">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn"  href="https://www.youtube.com/">
        <i class="fab fa-youtube"></i>
      </a>
    </div>

  </footer>
  
</div>







