<div class="container">
  <h2 style="text-align:center; width:200px;">The Best Players Through the Years</h2>
  <p>
    The award was awarded by <b>IHF</b> (<i>International Handball Federation</i>) since 1988 in both Men's and Women's Category separately.

    No award was awarded in the years 1991, 1992, 1993 and 2017.
  </p>
  <h3>Men's Category</h3>

  <input type="text" id="myInput" (keyup)="myFindFunction()" placeholder="Search for year..">
  <table id="myTable">
    <tr class="header">
      <th style="width:15%;">Year</th>
      <th style="width:35%;">Name</th>
      <th style="width:30%;">Country</th>
      <th style="width:20%;">Position</th>
    </tr>
    <tr>
      <td>1988</td>
      <td>Veselin Vujović</td>
      <td>Yugoslavia</td>
      <td>Left back</td>
    </tr>
    <tr>
      <td>1989</td>
      <td>Kang Jae-Won</td>
      <td>South Korea</td>
      <td>Right back</td>
    </tr>
    <tr>
      <td>1990</td>
      <td>Magnus Wislander</td>
      <td>Sweden</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>1991</td>
      <td>No Vote</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1992</td>
      <td>No Vote</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1993</td>
      <td>No Vote</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1994</td>
      <td>Talant Dujshebaev</td>
      <td>Russia</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>1995</td>
      <td>Jackson Richardson</td>
      <td>France</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>1996</td>
      <td>Talant Dujshebaev</td>
      <td>Germany</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>1997</td>
      <td>Stéphane Stoecklin</td>
      <td>France</td>
      <td>Right back</td>
    </tr>
    <tr>
      <td>1998</td>
      <td>Daniel Stephan</td>
      <td>Germany</td>
      <td>Left back</td>
    </tr>
    <tr>
      <td>1999</td>
      <td>Rafael Guijosa </td>
      <td>Spain</td>
      <td>Left wing</td>
    </tr>
    <tr>
      <td>2000</td>
      <td>Dragan Škrbić </td>
      <td>Yugoslavia</td>
      <td>Line player</td>
    </tr>
    <tr>
      <td>2001</td>
      <td>Yoon Kyung-Shin </td>
      <td>South Korea</td>
      <td>Right back</td>
    </tr>
    <tr>
      <td>2002</td>
      <td>Bertrand Gille </td>
      <td>France</td>
      <td>Line player</td>
    </tr>
    <tr>
      <td>2003</td>
      <td>Ivano Balić </td>
      <td> Croatia</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>2004</td>
      <td>Henning Fritz </td>
      <td>Germany</td>
      <td>Goalkeeper</td>
    </tr>
    <tr>
      <td>2005</td>
      <td>Arpad Šterbik</td>
      <td>Serbia and Montenegro</td>
      <td>Goalkeeper</td>
    </tr>
    <tr>
      <td>2006</td>
      <td>Ivano Balić</td>
      <td> Croatia</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>2007</td>
      <td>Nikola Karabatić</td>
      <td>France</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>2008</td>
      <td>Thierry Omeyer</td>
      <td>France</td>
      <td>Goalkeeper</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>Sławomir Szmal</td>
      <td>Poland</td>
      <td>Goalkeeper</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>Filip Jícha</td>
      <td>Czech Republic</td>
      <td>Left back</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>Mikkel Hansen</td>
      <td>Denmark</td>
      <td>Left back</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Daniel Narcisse	</td>
      <td>France</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>Domagoj Duvnjak</td>
      <td> Croatia</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Nikola Karabatić</td>
      <td>France</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>2015</td>
      <td>Mikkel Hansen</td>
      <td>Denmark</td>
      <td>Left back</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>Nikola Karabatić</td>
      <td>France</td>
      <td>Center back</td>
    </tr>
    <tr>
      <td>2017</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2018</td>
      <td> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2019</td>
      <td> </td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>
