<h1 class="homeheader">Handball</h1>

<p>Welcome to the <b>Handball Site</b> where you can find lots of fun content and concrete informations about <b>rules</b>, <b>national teams</b>, <b>players</b> and many other things! Hope that informations will be useful and that you will learn something new :)</p>

<h2>Rules of Handball</h2>
<ul>
  <li>A match consists of two periods of 30 minutes each.</li>
  <li>Each team consists of 7 players.A goalkeeper and 6 outfield players.</li>
  <li>Outfield players can touch the ball with any part of their body that is above the knee.</li>
  <li>Once a player receives possession, they can pass, hold possession or shoot.</li>
  <li>If a player holds possession, they can dribble or take three steps for up to three seconds without dribbling.</li>
  <li>Only the goalkeeper is allowed to come into contact with the floor of the goal area.</li>
  <li>Goalkeepers are allowed out of the goal area but must not retain possession if they are outside the goal area.</li>
</ul>


<h2>Players & Equipment</h2>

<p>
  The standard handball games features 7 players on each side, six outfield players and one goalkeeper. A team will also have 7 substitutes, which can be used on a rolling basis and with no need to notify the referee.
</p>
<p>
  There is semi-circle area around each goal area, sometimes referred to as the crease or the zone. There is also a dashed semi-circle line which lies 9 metres from goal, which is the free throw line.
</p>
<p>
  The ball must be made from leather or synthetic material and it must be of a size to fit in the hand of a player. This means that there are three regulation sizes of handball.
  One for over 8s where the ball has a circumference of 50-52 cm, a second for women and males aged 12 to 16 where the ball has a circumference of 54-56cm and a third for males aged 16 and over, with a circumference of 58-60cm.
 
</p>


<h2>Object of the Game</h2>

<p>
  The object of handball is to score more points than your opponent.
  A handball game lasts for a regulation 60 minutes. This is split into two halfs of 30 minutes each, with a 15 minutes of rest between two halfs. For younger players, the period time can be reduced to 20 minutes.
</p>
