<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<div class="card">
  <img src="/assets/croatia.jpg" alt="Croatia" style="width:100%; max-height:170px;">
  <h1>Croatia</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b> </p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/france.jpg" alt="France" style="width:100%">
  <h1>France</h1>
  <p class="title">Medals</p>
  <p>Olympic medals:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/germany.png" alt="Germany" style="width:100%">
  <h1>Germany</h1>
  <p class="title">Medals</p>
  <p>Olympic medals:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/spain.jpg" alt="Spain" style="width:100%">
  <h1>Spain</h1>
  <p class="title">Medals</p>
  <p>Olympic medals:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/denmark.png" alt="Denmark" style="width:100%">
  <h1>Denmark</h1>
  <p class="title">Medals</p>
  <p>Olympic medals:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/norway.jpg" alt="Norway" style="width:100%">
  <h1>Norway</h1>
  <p class="title">Medals</p>
  <p>Olympic medals:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>
