<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<h1 class=" header">National Teams</h1>

<div class="card">
  <img src="/assets/croatia.jpg" alt="Croatia" style="width:100%; height:100px;">
  <h1>Croatia</h1>
  <p class="title">Medals</p>
  <p>Olympic Games: </p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/france.jpg" alt="France" style="width:100%; height:100px;">
  <h1>France</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/germany.png" alt="Germany" style="width:100%; height:100px;">
  <h1>Germany</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/spain.jpg" alt="Spain" style="width:100%; height:100px;">
  <h1>Spain</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/denmark.png" alt="Denmark" style="width:100%; height:100px;">
  <h1>Denmark</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/norway.jpg" alt="Norway" style="width:100%; height:100px;">
  <h1>Norway</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/sweden.jpg" alt="Sweden" style="width:100%; height:100px;">
  <h1>Sweden</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/poland.jpg" alt="Poland" style="width:100%; height:100px;">
  <h1>Poland</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/slovenia.jpg" alt="Slovenia" style="width:100%; height:100px;">
  <h1>Slovenia</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>

<div class="card">
  <img src="/assets/russia.jpg" alt="Russia" style="width:100%; height:100px;">
  <h1>Russia</h1>
  <p class="title">Medals</p>
  <p>Olympic Games:<b></b></p>
  <p>European Championship:<b></b> </p>
  <p>World Championship:<b></b> </p>

  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <p><button>See More..</button></p>
</div>
